@model AfyaHMIS.ViewModel.RegistrationVisitViewModel;
@{
    ViewData["Title"] = "Patient Details";
}

<script src="~/vendors/formatter/jquery.formatter.min.js"></script>
<script src="~/vendors/select2/select2.full.min.js"></script>
<script src="~/vendors/jquery-validation/jquery.validate.min.js"></script>
<script src="~/js/registration-new.js"></script>
<script src="~/js/scripts/page-users.js"></script>

<link rel="stylesheet" type="text/css" href="~/css/pages/page-users.css">
<style>
    div.error {
        padding-left: 43px;
    }
</style>

<div class="content-wrapper-before gradient-45deg-indigo-blue"></div>
<div class="breadcrumbs-dark pb-0 pt-2" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>@ViewData["Title"]</span></h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/registration/search">Registration</a>
                    </li>
                    <li class="breadcrumb-item active">
                        View Details
                    </li>
                </ol>
            </div>
            <div class="col s2 m6 l6">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Options</span><i class="material-icons right">arrow_drop_down</i></a>
                <partial name="_RegistrationMenuPartial" />
            </div>
        </div>
    </div>
</div>

<div class="col s12">
    <div class="container">
        <!-- users edit start -->
        <div class="section users-edit">
            <div class="card">
                <div class="card-content">
                    <!-- <div class="card-body"> -->
                    <ul class="tabs mb-2 row">
                        <li class="tab">
                            <a class="display-flex align-items-center active" id="account-tab" href="#account">
                                <i class="material-icons mr-1">person_outline</i><span>Account</span>
                            </a>
                        </li>
                        <li class="tab">
                            <a class="display-flex align-items-center" id="information-tab" href="#information">
                                <i class="material-icons mr-2">error_outline</i><span>Visit Info</span>
                            </a>
                        </li>
                    </ul>
                    <div class="divider mb-3"></div>
                    <div class="row">
                        <div class="col s12" id="account">
                            <!-- users edit media object start -->
                            <div class="row">
                                <div class="col s12 m7">
                                    <div class="display-flex media">
                                        <a href="#" class="avatar">
                                            <img src="~/images/avatar/new-patient.png" alt="users view avatar" class="z-depth-4 circle" height="64" width="64">
                                        </a>
                                        <div class="media-body">
                                            <h6 class="media-heading">
                                                <span class="users-view-name">@(Model.Visit.Patient.Person.Name)</span>
                                                <span class="grey-text">/</span>
                                                <span class="users-view-username grey-text">@(Model.Visit.Patient.Person.Gender.Equals("m") ? "Male" : "Female") @(Model.Visit.Patient.GetAge())</span>
                                            </h6>
                                            <span>PATIENT ID:</span>
                                            <span class="users-view-id">@Model.Visit.Patient.Identifier</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- users edit media object ends -->
                            <!-- users edit account form start -->
                            <form id="accountForm">
                                <div class="row">
                                    <div class="col s12 m6">
                                        <div class="row">
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Patient.Person.Name, new { disabled = "disabled" })
                                                <label for="username">Name</label>
                                                <small class="errorTxt1"></small>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Patient.Person.DateOfBirth, new { placeholder = DateTime.Now.ToString("MMM dd, yyyy"), disabled = "disabled" })
                                                <label for="name">DOB</label>
                                                <small class="errorTxt2"></small>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Patient.LastVisit, new { disabled = "disabled" })
                                                <label for="name">Last Visit</label>
                                                <small class="errorTxt2"></small>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Patient.Person.Gender, new { disabled = "disabled" })
                                                <label for="name">Gender</label>
                                                <small class="errorTxt2"></small>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Patient.Person.Address.Email, new { disabled = "disabled" })
                                                <label for="name">Email</label>
                                                <small class="errorTxt2"></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="row">
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Patient.Identifier, new { disabled = "disabled" })
                                                <label>Identifier</label>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Patient.Status.Name, new { disabled = "disabled" })
                                                <label>Status</label>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Patient.Notes, new { disabled = "disabled" })
                                                <label for="company">Notes</label>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Patient.Person.Address.Telephone, new { disabled = "disabled" })
                                                <label for="company">Telephone</label>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Patient.Person.Address.Location, new { disabled = "disabled" })
                                                <label for="name">Location</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- users edit account form ends -->
                        </div>
                        <div class="col s12" id="information">
                            <!-- users edit Info form start -->
                            <form id="infotabForm">
                                <div class="row">
                                    <div class="col s12 m6">
                                        <div class="row">
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.SchemeNumber, new { disabled = "disabled"})
                                                <label for="Visit_SchemeNumber">Scheme Number</label>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.Type.Name, new { disabled = "disabled" })
                                                <label for="Visit_SchemeNumber">Visit Type</label>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.ClientCode.Code, new { disabled = "disabled" })
                                                <label for="Visit_SchemeNumber">Client Code</label>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Referral.Facility, new { disabled = "disabled" })
                                                <label for="Visit_SchemeNumber">Refferal Facility</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="row">
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Visit.MedicoLegal.Id, new { disabled = "disabled" })
                                                <label for="Visit_SchemeNumber">Legal Case</label>
                                                <small class="errorTxt4"></small>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Queue.Room.Type.Id, new { disabled = "disabled" })
                                                <label for="Visit_SchemeNumber">Room Type</label>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextBoxFor(model => model.Bill.Amount, new { disabled = "disabled" })
                                                <label for="Visit_SchemeNumber">Consultation Fee</label>
                                            </div>
                                            <div class="col s12 input-field">
                                                @Html.TextAreaFor(model => model.WaiverReason, new { @class = "materialize-textarea validate", disabled = "disabled" })
                                                <label for="WaiverReason">Waiver Reason</label>
                                                <small class="errorTxt5"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- users edit Info form ends -->
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <!-- users edit ends -->
    </div>
    <div class="content-overlay"></div>
</div>
